@{
    ViewBag.Title = "Instrument";
}
<p><br /><br /></p>

<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- 
            Side Navigation 
            - The selected instrument will be indicated on the left.
        -->
        <div class="col-md-3">
            <p class="lead">Instruments</p>
            <div class="list-group">
                <a class="list-group-item" href="/Rent/Listings?condition=new">View All</a>
                <a class="list-group-item @ViewBag.statusTrumpet" href="/Rent/Instrument/Trumpet">Trumpet</a>
                <a class="list-group-item @ViewBag.statusTrombone" href="/Rent/Instrument/Trombone">Trombone</a>
                <a class="list-group-item @ViewBag.statusTuba" href="/Rent/Instrument/Tuba">Tuba</a>
                <a class="list-group-item @ViewBag.statusFlute" href="/Rent/Instrument/Flute">Flute</a>
                <a class="list-group-item @ViewBag.statusClarinet" href="/Rent/Instrument/Clarinet">Clarinet</a>
                <a class="list-group-item @ViewBag.statusSaxophone" href="/Rent/Instrument/Saxophone">Saxophone</a>
            </div>
            <p class="text-muted">After months, you own the instrument. If you return it at any time before 3 months, there will be a $200 re-stocking fee. If you return it after 3 months, you forfeit any equity in the instrument.</p>
        </div>

        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="@ViewBag.img" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">
                        <a class="btn btn-primary" href="/Rent/Rent/@ViewBag.Instrument/1">Rent New: $@ViewBag.costNew/mo</a>
                        <a class="btn btn-primary" href="/Rent/Rent/@ViewBag.Instrument/2">Rent Used: $@ViewBag.costUsed/mo</a>
                    </h4>
                    <h1>
                        @ViewBag.Instrument
                    </h1>
                    <div class="clearfix"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>

            <div class="well">

                <div class="text-right">
                    <a class="btn btn-success">Leave a Review</a>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        Anonymous
                        <span class="pull-right">10 days ago</span>
                        <p>This product was great in terms of quality. I would definitely buy another!</p>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        Anonymous
                        <span class="pull-right">12 days ago</span>
                        <p>I've alredy ordered another one!</p>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        Anonymous
                        <span class="pull-right">15 days ago</span>
                        <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

